spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:file:~/test
    username: sa
    password:
    driverClassName: org.h2.Driver
  kafka:
    listener:
      type:
    consumer:
      bootstrap-servers: 127.0.0.1:9092
      group-id: group-id
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.apache.kafka.common.serialization.StringDeserializer

    producer:
      bootstrap-servers: 127.0.0.1:9092
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.apache.kafka.common.serialization.StringSerializer

logging:
  level:
    com.accenture.hr: trace
server:
  port: 8080

vipPersons: 995,996,997,998,999

currentSafetyDistance: 1

maxCapacity: 250
currentAllowancePercent: 1
placeInWaitingListToCall : 3

cors-policies: http://localhost:3000, http://127.0.0.1:3000
